/* https://aashvik.com/posts/shell-ssg/ */

:root {
  color-scheme: light dark;
  --fg: light-dark(#1a1a1a, #eaeaea);
  --bg: light-dark(#fafafa, #121212);
  --a: light-dark(#0050b3, #4da3ff);
  --t: light-dark(#0072ff54, #3a72e899);
  --cbg: light-dark(#ddd, #333);
  --m: light-dark(#555, #aaa);
  &:has(#light:checked) {
    color-scheme: light;
  }
  &:has(#dark:checked) {
    color-scheme: dark;
  }
}

input[name="theme"]:checked + label {
  text-decoration: underline;
}

label[for="light"],
label[for="dark"] {
  cursor: pointer;
}

article[post][sw] a,
span[sw] {
  color: light-dark(blue, #0978db);
}
article[post][hw] a,
span[hw] {
  color: light-dark(green, #1daf3d);
}
article[post][rb] a,
span[rb] {
  color: light-dark(red, #dd1a34);
}
article[post][misc] a,
span[misc] {
  color: light-dark(#555, #777);
}

/* HTML Buttons */
/* <input type=radio id=light name=theme hidden> <label for=light title="light mode">☼</label> / */
/* <input type=radio id=dark name=theme hidden> <label for=dark title="dark mode">☾</label> */
