.ccls-cache
input
in.txt
out.txt
chat.txt
a.out
*out
*.png
*.jpg
*.svg
package*.json
node_modules/
node_modules/*

javascript/node_modules/
javascript/node_modules/*

latex/attachments/
latex/*.aux
latex/*.toc
latex/*.fdb_latexmk
latex/*.fls
latex/*.log
latex/*.pdf
latex/*.synctex.gz
latex/code/*

rust/target/
rust/target/*
rust/Cargo.lock
rust/Cargo.toml

typst/*.pdf
typst/swe.typ
