body {
  background: rgb(36, 39, 58);
  color: rgb(202, 211, 245);
  font-family: sans-serif;
  text-align: center;
  #info {
    font-size: 2em;
    text-align: left;
    padding: 18px;
  }
  #buf {
    padding: 5px;
    border: 0px solid;
    width: 90%;
    height: 30%;
    position: fixed;
    bottom: 5%;
    left: 5%;
    font-size: 2em;
    border-radius: 10px;
    background: rgb(110, 115, 141);
  }
}
